body{
      font-family: sans-serif;
      text-align: center;
      background: lightblue;
      margin-top: 100px;
    }
    #display {
      font-size: 60px;
      margin-bottom: 20px;
    }
    button {
      padding: 10px 20px;
      font-size: 18px;
      margin: 5px;
    }